.container {
    padding-top: 1%;
    min-height: 80vh;
    background-color: #d39dff4b;
    background: #fff url("//cdn.shopify.com/s/files/1/1637/4383/t/7/assets/bg-music.png?15380130506706894235") repeat scroll
}